<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulaire Dynamique</title>
</head>
<body> 
    <form><!-- Création du formulaire-->
        <label for="fname">Nom du plat:</label>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">prix</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br><br>
        <input type="submit" value="Enregistrer">
    </form>
  
</body>
</html>