<header>
    <!-- En-tête avec navigation -->

    <nav>
        <ul>
            <!-- Liens de navigation vers les autres pages du site -->
            <li><a href="accueil">Accueil</a></li>
            <li><a href="menu">Menu</a></li>
            <li><a href="equipe">Équipe</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </nav>
</header>